<div class="container">
  <h1>Pets up for adoption:</h1>
  <% if policy(Pet).create? %>
    <%= link_to 'Add Pet', new_pet_path, class: "btn btn-flat" %>
  <% end %>
  <ul class="cards">
    <% @pets.each do |pet| %>
      <li>
        <%= link_to pet_path(pet) do %>
          <%= render "pets/image", pet: pet %>      
        <% end%>        
      </li>

    <% end %>
  </ul>
</div>
