<div class="container">
  <% if policy(Pet).create? %>
    <%= link_to 'Add Pet', new_pet_path, class: "btn btn-flat" %>
  <% end %>
  <div class="cards">
    <% @pets.each do |pet| %>
        <%= link_to pet_path(pet) do %>
          <%= render "pets/image", pet: pet %>      
        <% end%> 
    <% end %>
  </div>
</div>
