<div class="container">
  <h1> Requests:</h1>
  <ul>
    <% @requests.each do |request| %>
    <li><%= link_to request.pet.name, pet_path %> - status:<%= request.status %></li>
    <% end%>
  </ul>
</div>
<div class="p-4">
  <%= link_to "Back to Pets", pets_path, class: "btn btn-dark" %>
</div>
