.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.5;
}

.btn-flat-log {
  color: white;
  padding: 8px 30px;
  border-radius: 4px;
  background: #6495ED;
  transition: 0.4s;
  border: 2px solid white;
}

.btn-flat-log:hover {
  background: white;
  color: #6495ED;
  transition: 0.4s;
  border: 2px solid #6495ED;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: 0.4s;
  border: 2px solid white;
}

.btn-flat:hover {
  background: white;
  color: #1EDD88;
  transition: 0.4s;
  border: 2px solid #1EDD88;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-red {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: red;
  transition: 0.4s;
  border: 2px solid white;
}

.btn-red:hover {
  background: white;
  color: red;
  transition: 0.4s;
  border: 2px solid red;
}

.btn-gray {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5E6973;
  transition: 0.4s;
  border: 2px solid white;
}

.btn-gray:hover {
  background: white;
  color: #5E6973;
  transition: 0.4s;
  border: 2px solid #5E6973;
}

